# macOS system files
.DS_Store

# Node dependencies
node_modules/

# DAT
.dat/

# Build files
public/
resources/
.rpt2_cache/
static/search-index.msgpack
.hugo_build.lock

# Logs
*.log

# Test coverage
coverage/

.idea/
/assets/jsconfig.json
