.content-search {
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (--narrow-viewport) {
  .content-search {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.page-search {
  padding: 3rem 0;
}

@media (--narrow-viewport) {
  .page-search {
    padding: 2rem 0;
  }
}

.header-search {
  text-align: center;
  margin-bottom: 4rem;
}

@media (--narrow-viewport) {
  .header-search {
    margin-bottom: 2rem;
  }
}

.title-search {
  font-size: var(--ms3);
  font-weight: 400;
}

.body-search {
  font-size: var(--ms1);
  margin-bottom: 4rem;
}

.search-input {
  display: block;
  margin: 0 auto 2rem;
  width: 100%;
}

.search-results {
  display: grid;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.search-result-none {
  font-size: var(--ms1);
  margin: 0 0 1rem;
  padding: 1rem;
  text-align: center;
}

.search-result-single {
  box-shadow: 0 1px 4px 0 var(--shadow-color);
  font-size: var(--ms1);
  padding: 1rem;
}

.search-result-title {
  font-size: var(--ms1);
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding-top: 0;
}

.search-result-title a {
  text-decoration: none;
}

.search-result-preview {
  font-size: var(--ms0);
  margin: 0;
}

.search-form-external {
  display: block;
  height: 40px;
  margin: 4rem auto;
  overflow: hidden;
  padding: 0;
}

.search-note {
  font-size: var(--ms0);
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  max-width: 30rem;
}

/* Sidebar Search */

.sidebar-search {
  font-family: var(--fallback-ui-font);
  font-size: var(--ms-1);
}

.no-js .sidebar-search,
.small-caps-font-active .sidebar-search {
  font-family: var(--ui-font);
}

@media (--narrow-viewport) {
  .sidebar-search {
    display: none;
  }
}

.sidebar-search-input {
  display: block;
  font-size: 0.9rem;
  margin: 0.1rem 0;
  padding: 0.3rem 0.5rem;
  width: 100%;
}

.sidebar-search-results {
  background-color: var(--ui-overlay-background-color);
  display: none;
  list-style: none;
  padding: 0;
  top: 3.4rem;
  position: fixed;
  z-index: 20;
  box-shadow: 0 0 8px var(--shadow-color);

  &.search-active {
    display: inline-block;
  }
}

.sidebar-search-results::after,
.sidebar-search-results::before {
  border: solid transparent;
  content: ' ';
  height: 0;
  left: 1.5rem;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  width: 0;
}

.sidebar-search-results::after {
  border-color: rgba(0, 255, 0, 0);
  border-bottom-color: var(--ui-overlay-background-color);
  border-width: 1rem;
  margin-left: -1rem;
}

.sidebar-search-results::before {
  border-color: rgba(255, 0, 0, 0);
  border-width: calc(1rem + 2px);
  margin-left: calc(-1rem - 2px);
}

.sidebar-search-result-none {
  color: var(--ui-text-color);
  font-size: var(--ms0);
  margin: 0;
  padding: 0.75rem 1rem;
  text-align: center;
}

.sidebar-search-result-single {
  font-size: var(--ms0);
  font-weight: 400;
  margin: 0;
}

.sidebar-search-result-single a {
  color: var(--ui-text-color);
  display: block;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.sidebar-search-result-single a:hover {
  background-color: var(--ui-active-background-color);
  color: var(--ui-text-color);
}
