:root {
  --single-featured-image-height: 20rem;
}

@media (--narrow-viewport) {
  :root {
    --single-featured-image-height: 14rem;
  }
}

.content-single {
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (--narrow-viewport) {
  .content-single {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.single-entry {
  padding: 2rem 0;
}

@media (--narrow-viewport) {
  .single-entry {
    padding: 2rem 0;
  }
}

.single-entry-header {
  text-align: center;
  margin-bottom: 4rem;
}

@media (--narrow-viewport) {
  .single-entry-header {
    margin-bottom: 2rem;
  }
}

.single-entry-date {
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
}

.no-js .site-entry-date,
.ui-font-active .single-entry-date {
  font-family: var(--ui-font);
}

.single-entry-title {
  font-size: var(--ms3);
  font-weight: 400;
}

.single-entry-featured-image {
  height: var(--single-featured-image-height);
  left: 50%;
  margin: 4rem -50vw;
  overflow: hidden;
  position: relative;
  right: 50%;
  width: 100vw;

  & img {
    margin: 0 calc(50% - 50vw);
    height: 100%;
    object-fit: cover;
    transition-delay: 0.1s;
    transition-property: transform;
    transition-timing-function: ease;
    width: 100%;
  }

  & figcaption {
    background-color: var(--ui-overlay-background-color);
    bottom: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 3;

    & > p {
      max-width: var(--body-max-width);
      margin: calc(var(--vr-line-height) * 0.5rem) auto;
    }
  }
}

@media (--narrow-viewport) {
  .single-entry-featured-image {
    margin-bottom: 2rem;
    margin-top: 2rem;

    & figcaption {
      max-width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.single-entry-body {
  font-size: var(--ms1);
  hanging-punctuation: first;

  & h2 {
    border-bottom: 1px solid var(--divider-color);
  }

  & a {
    background-color: transparent;
    background-image: linear-gradient(
        var(--body-background-color),
        var(--body-background-color)
      ),
      linear-gradient(
        var(--body-background-color),
        var(--body-background-color)
      ),
      linear-gradient(var(--link-color), var(--link-color));
    background-position: 0 85%, 100% 85%, 0 85%;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-size: 1px 1px, 1px 1px, 1px 1px;
    text-decoration: none;
    text-shadow: 0.02em 0 var(--body-background-color),
      -0.02em 0 var(--body-background-color),
      0 0.02em var(--body-background-color),
      0 -0.02em var(--body-background-color),
      0.04em 0 var(--body-background-color),
      -0.04em 0 var(--body-background-color),
      0.06em 0 var(--body-background-color),
      -0.06em 0 var(--body-background-color),
      0.08em 0 var(--body-background-color),
      -0.08em 0 var(--body-background-color),
      0.1em 0 var(--body-background-color),
      -0.1em 0 var(--body-background-color),
      0.12em 0 var(--body-background-color),
      -0.12em 0 var(--body-background-color),
      0.14em 0 var(--body-background-color),
      -0.14em 0 var(--body-background-color);
  }

  & h2 + p::first-line,
  & hr + p::first-line,
  & > p:first-child::first-line {
    font-family: var(--fallback-small-caps-font);
    font-style: normal;
    letter-spacing: 0.06rem;
  }

  & blockquote {
    font-style: italic;
    margin: calc(var(--vr-line-height-rem) * 2) 1rem;
    padding: 0 var(--vr-line-height-rem);
    border-left: 1px solid var(--divider-color);
  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: var(--fallback-ui-font);
    font-size: var(--ms0);
    margin: 3rem 0;
    width: 100%;
  }

  & tr {
    border-top: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
  }

  & tr:nth-of-type(even) {
    background: var(--body-background-alt-color);
  }

  & th {
    background: var(--body-background-alt-color);
    font-weight: 700;
    padding: 0.5rem;
    vertical-align: bottom;
  }

  & td {
    font-weight: 400;
    padding: 0.5rem;
    vertical-align: top;
  }

  & .align-center {
    margin: 3rem 0;
  }

  & .align-left {
    float: left;
    margin: 0 2rem 2rem 0;
  }

  & .align-right {
    float: right;
    margin: 0 0 2rem 2rem;
  }
}

@media (--narrow-viewport) {
  .single-entry-body table {
    margin-left: 0;
    margin-right: 0;
  }
  .single-entry-body .align-center {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.single-entry-footer {
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
  margin: 4rem 0 2rem;
  text-align: center;
}

.single-entry-categories-icon {
  height: 1rem;
  vertical-align: bottom;
  width: 1rem;
  display: inline-block;
}

.single-entry-categories {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.single-entry-categories > li {
  display: inline-block;
}

.single-entry-categories > li:not(:last-child)::after {
  content: '·';
  margin: 0 0.3rem;
}

.no-js,
.small-caps-font-active {
  & .single-entry-body h2 + p::first-line,
  & .single-entry-body hr + p::first-line,
  & .single-entry-body > p:first-child::first-line {
    font-family: var(--small-caps-font);
  }
}

.no-js,
.ui-font-active {
  & .single-entry-body table,
  & .single-entry-footer {
    font-family: var(--ui-font);
  }
}
