<article class="archive-entry" itemscope="" itemtype="https://schema.org/CreativeWork">
  <header class="archive-entry-header">
    <time class="archive-entry-date" itemprop="datePublished" datetime="{{ .Date }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <h3 class="archive-entry-title">
      <a class="archive-entry-link" href="{{ .Permalink }}" rel="bookmark">
        {{ .Title | markdownify }}
      </a>
    </h3>
  </header>
  {{ if .Params.Image.Src }}
    {{ $src := .Resources.GetMatch .Params.Image.Src }}
    {{ $featured := $src.Fit "340x160" }}
    {{ $featured2x := $src.Fit "680x320" }}
    <figure class="archive-entry-thumbnail-wrapper">
      <a tabindex="-1" href="{{ .Permalink }}" rel="bookmark">
        <img
          loading="lazy"
          class="archive-entry-thumbnail"
          src="{{ $featured.RelPermalink }}"
          srcset="{{ $featured2x.RelPermalink }} 2x"
          height="{{ $featured.Height }}"
          width="{{ $featured.Width }}"
          {{ if or (.Params.Image.Alt) (.Params.Image.Caption) }}
            alt="{{ with .Params.Image.Alt }}{{.}}{{ else }}{{ .Params.Image.Caption }}{{ end }}"
          {{ end }}
        >
      </a>
    </figure>
  {{ end }}
  <div class="archive-entry-content">
    <p itemprop="text">
      {{ .Description | default .Summary | markdownify }}
    </p>
  </div>
</article>
