{{ partial "header.html" . }}

<main id="content" class="content-archive">
  <header class="archive-header hidden">
    <h2 class="archive-title">{{ .Title }}</h2>
  </header>

  <div class="content-list">
    <div class="masonry-gutter"></div>
    <div class="masonry-column"></div>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

	{{ partial "pagination.html" . }}
</main>

{{ partial "footer.html" . }}
