:root {
  --archive-featured-image-height: 14rem;
}

.content-archive {
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 100%;
}

@media (--narrow-viewport) {
  .content-archive {
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.archive-header {
  text-align: center;
  margin-bottom: 4rem;
}

@media (--narrow-viewport) {
  .archive-header {
    margin-bottom: 2rem;
  }
}

.archive-title {
  font-size: var(--ms3);
  font-weight: 400;
}

.archive-entry {
  background-color: var(--overlay-background-color);
  box-shadow: 0 1px 4px 0 var(--shadow-color);
  font-size: var(--ms1);
  margin: 0 0 3rem;
  padding: 2rem;
  position: relative;
  transition-property: background-color box-shadow height left transform width;
  width: var(--masonry-column-width);
  will-change: left, width;
}

.archive-entry:hover {
  box-shadow: 0 2px 8px 0 var(--shadow-color);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.no-js .archive-entry {
  width: 100%;
}

@media (--narrow-viewport) {
  .archive-entry {
    width: 100%;
  }
}

.archive-entry-header {
  text-align: center;
}

.archive-entry-date {
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
}

.no-js .archive-entry-date,
.ui-font-active .archive-entry-date {
  font-family: var(--ui-font);
}

.archive-entry-title {
  font-size: var(--ms2);
  font-style: normal;
}

.archive-entry-link {
  text-decoration: none;
}

.archive-entry-link::after {
  content: ' ';
  position: absolute;
  inset: 0;
}

.archive-entry-thumbnail-wrapper {
  height: var(--archive-featured-image-height);
  margin: 2rem calc(-2rem - 1px);
  overflow: hidden;
}

.archive-entry-thumbnail {
  height: 100%;
  object-fit: cover;
  transition-duration: 0.1s;
  transition-property: transform;
  transition-timing-function: ease-in;
  width: 100%;
}

.archive-entry:hover .archive-entry-thumbnail {
  transform: scale(1.1);
}

.archive-entry-content {
  hanging-punctuation: first;
  margin-bottom: -1rem;

  & blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

:not(.archive-entry-thumbnail-wrapper) + .archive-entry-content {
  border-top: 1px solid var(--divider-color);
  padding-top: 1rem;
}

.masonry-column {
  width: var(--masonry-column-width);
}

.masonry-gutter {
  width: var(--masonry-gutter-width);
}

@media (--narrow-viewport) {
  .masonry-column {
    width: 100%;
  }

  .masonry-gutter {
    width: 0;
  }
}

.pagination {
  display: table;
  margin: 3rem auto 6rem;
  list-style: none;
  line-height: 0;
  padding: 0.5rem;
}

.page-item {
  display: inline-block;
  line-height: var(--vr-line-height);
  margin: 0 0.06rem;
  padding: 0;
  text-align: center;
}

.page-link {
  display: table-cell;
  height: 3rem;
  vertical-align: middle;
  width: 3rem;
  background-color: var(--ui-background-color);
  box-shadow: 0 1px 4px 0 var(--shadow-color);
  color: var(--active-color);
}

.page-item.active .page-link {
  color: var(--ui-text-color);
}

.page-item:not(.disabled) .page-link:active,
.page-item:not(.disabled) .page-link:hover {
  background-color: var(--ui-active-background-color);
  color: var(--ui-text-color);
}

.no-js,
.ui-font-active {
  & .page-item {
    font-family: var(--ui-font);
  }
}
