code,
pre {
  font-family: var(--fallback-code-font);
  font-size: var(--ms0);
  font-weight: 300;
}

pre {
  hyphens: none;
  /* biome-ignore lint/complexity/noImportantStyles: I know, I know... */
  line-height: 1.6 !important;
  overflow-wrap: break-word;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
}

.no-js code,
.no-js pre,
.code-font-active code,
.code-font-active pre {
  font-family: var(--code-font);
}

.highlight {
  background-color: #272822;
  border-radius: 0.5rem;
  margin: 3rem 0;
  overflow: auto;
  padding: 1.5rem 1.5rem 0;

  @media (--narrow-viewport) {
    margin: 2rem 0;
    max-width: 100%;
  }
}
