.littlefoot {
  --button-active-background-color: var(--ui-active-background-color);
  --button-margin: 0 0.4rem;
  --popover-background-color: var(--ui-background-color);
  --popover-text-color: var(--ui-text-color);
  --popover-font-family: var(--fallback-ui-font);
  --popover-font-size: var(--ms0);
  --popover-font-weight: 400;
  --popover-line-height: 1.6;
  --popover-border: 0;
  --popover-scroll-indicator-color: var(--ui-text-color);
  --popover-width: 22rem;

  @media (width <= 767px) {
    --popover-border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .littlefoot {
    --popover-border: 1px solid var(--divider-color);
  }
}

.littlefoot__button.is-active {
  transition-delay: 0.1s;
}

.littlefoot__popover {
  z-index: 6;

  &.is-above {
    z-index: 20;
  }

  @media (width <= 767px) {
    z-index: 20;
  }
}

.littlefoot__content {
  hanging-punctuation: first;
  padding: 1rem 1.5rem;

  & *:last-child {
    margin-bottom: 0;
  }
}

.no-js .littlefoot__content,
.ui-font-active .littlefoot__content {
  font-family: var(--ui-font);
}

.littlefoot__content a {
  background-color: transparent;
  background-image: linear-gradient(
      var(--ui-background-color),
      var(--ui-background-color)
    ),
    linear-gradient(var(--ui-background-color), var(--ui-background-color)),
    linear-gradient(var(--link-color), var(--link-color));
  background-position:
    0 85%,
    100% 85%,
    0 85%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size:
    1px 1px,
    1px 1px,
    1px 1px;
  text-decoration: none;
  text-shadow:
    0.02em 0 var(--ui-background-color),
    -0.02em 0 var(--ui-background-color),
    0 0.02em var(--ui-background-color),
    0 -0.02em var(--ui-background-color),
    0.04em 0 var(--ui-background-color),
    -0.04em 0 var(--ui-background-color),
    0.06em 0 var(--ui-background-color),
    -0.06em 0 var(--ui-background-color),
    0.08em 0 var(--ui-background-color),
    -0.08em 0 var(--ui-background-color),
    0.1em 0 var(--ui-background-color),
    -0.1em 0 var(--ui-background-color),
    0.12em 0 var(--ui-background-color),
    -0.12em 0 var(--ui-background-color),
    0.14em 0 var(--ui-background-color),
    -0.14em 0 var(--ui-background-color);
}

.is-scrollable .littlefoot__content::after {
  bottom: 0;
}
