.site-sidebar {
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
  left: 50%;
  margin: 2rem -50% 0;
  padding: 2rem;
  position: relative;
  right: 50%;
  width: 100%;
}

.site-sidebar a {
  color: var(--ui-link-color);
}

.no-js .site-sidebar,
.ui-font-active .site-sidebar {
  font-family: var(--ui-font);
}

@media (--narrow-viewport) {
  .site-sidebar {
    padding: 1.5rem;
  }
}

.sidebar-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  margin: 0 auto;
  max-width: var(--body-max-width);
}

@media (--narrow-viewport) {
  .sidebar-content {
    grid-template-columns: 1fr;
  }
}

.sidebar-menu {
  margin: 0;
  padding-left: 0;
}

@media (--narrow-viewport) {
  .sidebar-menu {
    display: flex;
    justify-content: space-around;
  }
}

.menu-item {
  list-style: none;
}

@media (--narrow-viewport) {
  .menu-item {
    display: inline-block;
  }
}
