:root {
  --page-transition-duration: 0.185s;
  --page-transition-timing-function: ease-in;
}

/* FIXME: performance */
.archive-entry__leave {
  background-color: var(--body-background-color);
  box-shadow: none;
  height: 100vw;
  left: 50% !important;
  padding: 3.5rem 0;
  margin: -3rem -50vw 0;
  width: 100vw;
  z-index: 20;
  transition-duration: var(--page-transition-duration);
  transition-property: background-color box-shadow height left transform width;
  transition-timing-function: var(--page-transition-timing-function);
}

.archive-entry-title__leave {
  font-size: var(--ms3);
  line-height: calc(var(--vr-line-height-rem) * 2);
  transition-duration: var(--page-transition-duration);
  transition-property: font-size line-height;
  transition-timing-function: var(--page-transition-timing-function);

  & a {
    color: var(--body-color);
    transition-duration: var(--page-transition-duration);
    transition-property: color;
    transition-timing-function: var(--page-transition-timing-function);
  }
}

.archive-entry-thumbnail-wrapper__leave {
  height: var(--single-featured-image-height);
  margin: 4rem 0;
}

.archive-entry-content__leave {
  opacity: 0;
  transition-duration: var(--page-transition-duration);
  transition-property: opacity;
  transition-timing-function: calc(var(--page-transition-duration) / 2);
}
