@view-transition {
  navigation: auto;
}

@supports (view-transition-name: root) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  ::view-transition-old(root) {
    animation-name: fadeOut;
  }

  ::view-transition-new(root) {
    animation-name: fadeIn;
  }
}
