<figure class="single-entry-featured-image">
  {{ if .Params.Image.Link }}<a href="{{ . }}">{{ end }}
    {{ $src := .Resources.GetByPrefix .Params.Image.Src }}
    {{ $featured := $src.Fit (printf "%dx320" (div $src.Width 2)) }}
    {{ $featured2x := $src.Fit (printf "%dx640" $src.Width) }}
    {{ $featured340 := $src.Fit "340x224" }}
    {{ $featured680 := $src.Fit "680x224" }}
    {{ $featured768 := $src.Fit "768x640" }}
    {{ $featured1536 := $src.Fit "1536x640" }}
    <img class="lazy"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      height="{{ $featured.Height }}"
      width="{{ $featured.Width }}"
      sizes="
        (max-width: 340px) 340w,
        (max-width: 680px) 680w,
        (max-width: 768px) 768w,
        (max-width: 1536px) 1536w,
        100%
      "
      data-original="{{ $featured.RelPermalink }}"
      data-original-set="
        {{ $featured340.RelPermalink }} 340w,
        {{ $featured680.RelPermalink }} 680w,
        {{ $featured768.RelPermalink }} 768w,
        {{ $featured1536.RelPermalink }} 1536w,
        {{ $featured2x.RelPermalink }} 2x
      "
      {{ if or (.Params.Image.Alt) (.Params.Image.Caption) }}
        alt="{{ with .Params.Image.Alt }}{{ . }}{{ else }}{{ .Params.Image.Caption }}{{ end }}"
      {{ end }}
    >
    <noscript>
      <img src="{{ $featured.RelPermalink }}"
        height="{{ $featured.Height }}"
        width="{{ $featured.Width }}"
        {{ if or (.Params.Image.Alt) (.Params.Image.Caption) }}
          alt="{{ with .Params.Image.Alt }}{{.}}{{ else }}{{ .Params.Image.Caption }}{{ end }}"
        {{ end }}
      >
    </noscript>
  {{ if .Params.Image.Link }}</a>{{ end }}
  {{ if or (or (.Params.Image.Title) (.Params.Image.Caption)) (.Params.Image.Attr)}}
  <figcaption>
    {{ if .Params.Image.Title }}<h4>{{ .Params.Image.Title | markdownify }}</h4>{{ end }}
    {{ if or (.Params.Image.Caption) (.Params.Image.Attr)}}
      <p>
      {{ .Params.Image.Caption | markdownify }}
      {{ with .Params.Image.Attrlink}}<a href="{{ . }}"> {{ end }}
          {{ .Params.Image.Attr }}
      {{ if .Params.Image.Attrlink}}</a> {{ end }}
      </p>
    {{ end }}
  </figcaption>
  {{ end }}
</figure>
