<article class="archive-entry" itemscope="" itemtype="https://schema.org/CreativeWork">
  <header class="archive-entry-header">
    <time class="archive-entry-date" itemprop="datePublished" datetime="{{ .Date }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <h2 class="archive-entry-title">
      <a href="{{ .Permalink }}" rel="bookmark">
        {{ .Title | markdownify }}
      </a>
    </h2>
  </header>
  {{ if .Params.Image.Src }}
    {{ $featured := .Resources.GetByPrefix .Params.Image.Src }}
    {{ $featured340 := $featured.Resize "340x" }}
    {{ $featured680 := $featured.Resize "680x" }}
    <figure class="archive-entry-thumbnail-wrapper">
      <a href="{{ .Permalink }}" rel="bookmark">
        <img class="lazy archive-entry-thumbnail"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
          data-original="{{ $featured340.RelPermalink }}"
          data-original-set="{{ $featured680.RelPermalink }} 2x"
          {{ if or (.Params.Image.Alt) (.Params.Image.Caption) }}
            alt="{{ with .Params.Image.Alt }}{{.}}{{ else }}{{ .Params.Image.Caption }}{{ end }}"
          {{ end }}
        >
        <noscript>
          <img class="archive-entry-thumbnail"
            src="{{ $featured340.RelPermalink }}"
            {{ if or (.Params.Image.Alt) (.Params.Image.Caption) }}
              alt="{{ with .Params.Image.Alt }}{{.}}{{ else }}{{ .Params.Image.Caption }}{{ end }}"
            {{ end }}
          >
        </noscript>
      </a>
    </figure>
  {{ end }}
  <div class="archive-entry-content">
    <p itemprop="text">
      {{ .Description | default .Summary }}
    </p>
  </div>
</article>
