<nav role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
  <ol class="trail-items" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{- range .Ancestors.Reverse }}
    {{- if not (.Param "noBreadcrumb") }}
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
      class="trail-item"
    >
      <a
        href="{{ .RelPermalink }}"
        itemprop="item"
        itemscope
        itemtype="https://schema.org/WebPage"
        itemid="{{ .RelPermalink }}"
      >
        <span itemprop="name">
          {{- .Param "breadcrumb" | default .Title | markdownify -}}
        </span>
      </a>
    </li>
    {{- end }}
    {{- end }}
    <li
      itemprop="itemListElement"
      itemscope
      itemtype="http://schema.org/ListItem"
      class="trail-item"
    >
      <span itemprop="name" aria-current="page">
        {{- .Param "breadcrumb" | default .Title | markdownify -}}
      </span>
    </li>
  </ol>
</nav>
