{{ partial "header.html" . }}

<main id="content" class="content-single">
  <article class="single-entry" itemscope itemtype="http://schema.org/Article">
    <progress class="reading-progress" id="reading-progress" value="0" max="100"></progress>
    <button class="button-furthest-read animate__animated invisible" title="Scroll to furthest place read">Resume reading</button>
    <header class="single-entry-header">
      <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
      <time class="single-entry-date">{{ .Date.Format "January 2, 2006" }}</time>
      <h1 itemprop="name" class="single-entry-title">{{ .Title | markdownify }}</h1>
      {{ if .Params.Image.Src }}
        {{ partial "featured-image.html" . }}
      {{ end }}
    </header>
		<div class="single-entry-body">
			{{ .Content }}
		</div>
		<footer class="single-entry-footer">
      {{ if .Params.categories }}
      <svg class="single-entry-categories-icon" title="Filed Under" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-folder"></use></svg>
			<ul class="single-entry-categories">
        {{ range .Params.categories }}
				<li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" itemprop="about">{{ . }}</a></li>
				{{ end }}
      </ul>
      {{ end }}
		</footer>
	</article>
</main>

{{ partial "footer.html" . }}
