:root {
  --littlefoot-button-active-background-color: var(
    --ui-active-background-color
  );
  --littlefoot-button-margin: 0 0.4rem;
  --littlefoot-popover-background-color: var(--ui-background-color);
  --littlefoot-popover-text-color: var(--ui-text-color);
  --littlefoot-popover-font-family: var(--fallback-ui-font);
  --littlefoot-popover-font-size: var(--ms0);
  --littlefoot-popover-font-weight: 400;
  --littlefoot-popover-line-height: 1.6;
  --littlefoot-popover-border: 0;
  --littlefoot-popover-scroll-indicator-color: var(--ui-text-color);
  --littlefoot-popover-width: 22rem;

  @media (max-width: 767px) {
    --littlefoot-popover-border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --littlefoot-popover-border: 1px solid var(--divider-color);
  }
}

.littlefoot__button.is-active {
  transition-delay: 0.1s;
}

.littlefoot__popover {
  z-index: 6;

  &.is-position-top {
    z-index: 10;
  }
}

.littlefoot__content {
  hanging-punctuation: first;
  padding: 1rem 1.5rem;

  & *:last-child {
    margin-bottom: 0;
  }
}

.no-js .littlefoot__content,
.ui-font-active .littlefoot__content {
  font-family: var(--ui-font);
}

.littlefoot__content a {
  background-color: transparent;
  background-image: linear-gradient(
      var(--ui-background-color),
      var(--ui-background-color)
    ),
    linear-gradient(var(--ui-background-color), var(--ui-background-color)),
    linear-gradient(var(--link-color), var(--link-color));
  background-position: 0 85%, 100% 85%, 0 85%;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: 1px 1px, 1px 1px, 1px 1px;
  text-decoration: none;
  text-shadow: 0.02em 0 var(--ui-background-color),
    -0.02em 0 var(--ui-background-color), 0 0.02em var(--ui-background-color),
    0 -0.02em var(--ui-background-color), 0.04em 0 var(--ui-background-color),
    -0.04em 0 var(--ui-background-color), 0.06em 0 var(--ui-background-color),
    -0.06em 0 var(--ui-background-color), 0.08em 0 var(--ui-background-color),
    -0.08em 0 var(--ui-background-color), 0.1em 0 var(--ui-background-color),
    -0.1em 0 var(--ui-background-color), 0.12em 0 var(--ui-background-color),
    -0.12em 0 var(--ui-background-color), 0.14em 0 var(--ui-background-color),
    -0.14em 0 var(--ui-background-color);
}

.is-scrollable .littlefoot__content::after {
  bottom: 0;
}
