.site-header {
  background-color: hsla(0, 0%, 98%, 0.95);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  font-size: var(--ms1);
  font-style: normal;
  font-weight: 400;
  height: 7.5rem;
  line-height: 1;
  margin: 0;
  padding: 4rem 0 0;
  position: fixed;
  text-overflow: ellipsis;
  top: -4rem;
  width: 100%;
  z-index: 8;
}

.site-header-wrapper {
  max-width: var(--body-max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 200px;
}

@media (--narrow-viewport) {
  .site-header-wrapper {
    padding: 0 1.25rem;
    grid-template-columns: auto;
  }
}

.site-breadcrumbs {
  font-family: var(--fallback-small-caps-font);
  letter-spacing: 0.06rem;
  text-transform: lowercase;
}

.no-js .site-breadcrumbs,
.small-caps-font-active .site-breadcrumbs {
  font-family: var(--small-caps-font);
}

.site-title {
  display: inline-block;
  font-family: var(--fallback-small-caps-font);
  font-size: var(--ms1);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1;
  margin: 1rem 0;
  padding: 0;

  & a {
    color: var(--body-color);
    text-decoration: none;
  }
}

.no-js .site-title,
.small-caps-font-active .site-title {
  font-family: var(--small-caps-font);
}

.site-tagline {
  font-size: var(--ms0);
  line-height: 2;
  margin: 1rem 0;
}

.site-tagline::before {
  content: ' / ';
}

.trail-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.trail-item {
  font-size: var(--ms0);
  display: inline-block;
  list-style-type: none;
  text-indent: 0;

  &::before {
    content: "\002F";
  }
}

.trail-begin {
  font-size: var(--ms1);

  &::before {
    content: "";
  }
}
