.site-header {
  max-width: var(--body-max-width);
  margin: 0 auto 3rem;
  padding: 2rem 0;
  width: 100%;
}

@media(--narrow-viewport) {
  .site-header {
    margin-bottom: 2rem;
    max-width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.site-title {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  font-family: var(--small-caps-font-family);
  font-size: var(--ms3);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 2;
  margin: 1rem 0;
  text-align: center;

  & a {
    color: var(--body-color);
    text-decoration: none;
  }
}

@media(--narrow-viewport) {
  .site-title {
    font-size: var(--ms2);
  }
}

.site-tagline {
  font-size: var(--ms0);
  line-height: 2;
  margin: 0;
  text-align: center;
}

@media(--narrow-viewport) {
  .site-tagline {
    font-size: var(--ms-1);
  }
}

.site-breadcrumbs {
  background-color: hsla(0, 0%, 98%, 0.95);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  float: left;
  font-family: var(--small-caps-font-family);
  font-size: var(--ms1);
  font-style: normal;
  font-weight: 400;
  height: 5.5rem;
  letter-spacing: 0.06rem;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding: 2rem 0 0 0;
  position: fixed;
  text-overflow: ellipsis;
  text-transform: lowercase;
  top: -2rem;
  width: 100%;
  z-index: 8;

  & .site-title {
    font-size: var(--ms1);
    line-height: 1;
  }
}

@media(--narrow-viewport) {
  .site-breadcrumbs {
    font-size: var(--ms0);
  }
}

.site-breadcrumbs-initial {
  display: none;
}

.breadcrumbs-icon-home {
  fill: var(--link-color);
  height: var(--ms1);
  width: var(--ms1);
  margin: 0;
  vertical-align: middle;
}

.trail-items {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}

.trail-item {
  display: inline-block;
  list-style-type: none;
  text-indent: 0;

  &::after {
    content: "\002F";
  }
}

.trail-end {
  &::after {
    content: "";
  }
}
