.section-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}

.section-list-item {
  box-shadow: 0 1px 4px 0 var(--shadow-color);
  font-size: var(--ms1);
}

.section-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
}
