.site-sidebar {
  background-color: var(--ui-background-color);
  color: var(--ui-text-color);
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
  left: 50%;
  margin: 2rem -50vw 0;
  padding: 2rem;
  position: relative;
  right: 50%;
  width: 100vw;
}

.no-js .site-sidebar,
.ui-font-active .site-sidebar {
  font-family: var(--ui-font);
}

@media(--narrow-viewport) {
  .site-sidebar {
    padding: 1.5rem;
  }
}

.sidebar-content {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2;
  margin: 0 auto;
  max-width: var(--body-max-width);
}

.sidebar-intro {
  grid-column: 1 / 2;
  grid-row: 1;
}

@media(--narrow-viewport) {
  .sidebar-intro {
    grid-column: 1;
    grid-row: 1;
  }
}

.sidebar-navigation {
  grid-column: 2;
  grid-row: 1;
}

@media(--narrow-viewport) {
  .sidebar-navigation {
    grid-column: 1;
    grid-row: 2;
  }
}

.sidebar-search {
  grid-column: 2;
  grid-row: 2;
}

@media(--narrow-viewport) {
  .sidebar-search {
    grid-column: 1;
    grid-row: 3;
  }
}

.sidebar-menu {
  padding-left: 0;
}

@media(--narrow-viewport) {
  .sidebar-menu {
    display: flex;
    justify-content: space-around;
  }
}

.menu-item {
  list-style: none;
}

@media(--narrow-viewport) {
  .menu-item {
    display: inline-block;
  }
}
