body {
  font-size: var(--ms0);
  line-height: var(--vr-line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: calc(var(--vr-line-height-rem) - var(--vr-baseline));
  margin-top: 0;
  padding-top: var(--vr-line-height-rem);
}

h1 {
  font-size: var(--ms3);
  line-height: calc(var(--vr-line-height-rem) * 2);
}

h2 {
  font-size: var(--ms2);
}

h3 {
  font-size: var(--ms1);
  font-style: italic;
}

small {
  font-size: calc(1em * var(--ms-ratio) / 1.2);
}

figcaption {
  font-family: var(--fallback-ui-font);
  font-size: var(--ms0);
  padding: 1rem;
}

figcaption h4 {
  margin: 0;
  padding: 0;
}

.pull-quote-center,
.pull-quote-left,
.pull-quote-right {
  color: var(--highlight-color);
  display: center;
  font-size: var(--ms2);
  font-style: italic;
  margin: 4rem 3rem;
}

@media (--narrow-viewport) {
  .pull-quote-center,
  .pull-quote-left,
  .pull-quote-right {
    margin: 2rem 1.5rem;
  }
}

.pull-quote-left,
.pull-quote-right {
  hanging-punctuation: first;
}

.pull-quote-center {
  text-align: center;
}

.small-caps {
  font-family: var(--fallback-small-caps-font);
  font-style: normal;
  letter-spacing: 0.06rem;
}

.no-js .small-caps,
.small-caps-font-active .small-caps {
  font-family: var(--small-caps-font);
}
