:root {
  color-scheme: light dark;

  /* Layout */
  --body-max-width: 720px;
  --masonry-column-width: 47.05882%;
  --masonry-gutter-width: 5.60748%;

  /* Colour */
  --body-background-color: #fafafa;
  --body-background-alt-color: #f0f0f0;
  --body-color: #333;
  --link-color: #ae8d21;
  --highlight-color: #ae8d21;
  --active-color: #d2b450;
  --ui-text-color: #fafafa;
  --ui-background-color: #373737;
  --ui-active-background-color: #ae8d21;
  --ui-overlay-background-color: rgba(51, 51, 51, 0.9);
  --overlay-background-color: #fafafaf0;
  --divider-color: rgba(51, 51, 51, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.2);

  /* Typography */
  --body-font: 'Alegreya', serif;
  --small-caps-font: 'Alegreya SC', serif;
  --ui-font: 'Fira Sans', system-ui, sans-serif;
  --code-font: 'Fira Code', monospace;
  --fallback-body-font: serif;
  --fallback-small-caps-font: serif;
  --fallback-ui-font: system-ui, sans-serif;
  --fallback-code-font: monospace;

  /* Modular Scale */
  --ms-base: 1rem;
  --ms-ratio: var(--fourth);

  /* Vertical Rhythm */
  --vr-line-height: 1.5625;
  --vr-line-height-rem: calc(var(--vr-line-height) * 1rem);
  --vr-cap-height: calc(0.835rem);
  --vr-baseline: calc((var(--vr-line-height-rem) - var(--vr-cap-height)) / 2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #fafafa;
    --body-background-color: #333;
    --body-background-alt-color: #373737;
    --divider-color: rgba(221, 221, 221, 0.9);
    --overlay-background-color: rgba(68, 68, 68, 0.9);
  }
}

@custom-media --narrow-viewport (width < 768px);
@custom-media --medium-viewport (width >=768px) and (width < 1024px);
@custom-media --wide-viewport (width >=1024px);
