{{ $src := .Page.Resources.GetByPrefix (.Get "src") }}
{{ $image := $src.Resize (printf "%dx" (div $src.Width 2)) }}
{{ $image2x := $src }}
{{ $image340 := $src.Resize "340x" }}
{{ $image680 := $src.Resize "680x" }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{ if .Get "link" }}<a href="{{ . }}">{{ end }}
    <img class="lazy"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      height="{{ $image.Height }}"
      width="{{ $image.Width }}"
      sizes="
        (max-width: 340px) 340w,
        (max-width: 680px) 680w,
        100%
      "
      data-original="{{ $image.RelPermalink }}"
      data-original-set="
        {{ $image340.RelPermalink }} 340w,
        {{ $image680.RelPermalink }} 680w,
        {{ $image2x.RelPermalink }} 2x
      "
      {{ if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"
      {{ end }}
    >
    <noscript>
      <img src="{{ $image.RelPermalink }}"
        height="{{ $image.Height }}"
        width="{{ $image.Width }}"
        {{ if or (.Get "alt") (.Get "caption") }}
          alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"
        {{ end }}
      >
    </noscript>
  {{ if .Get "link" }}</a>{{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
  <figcaption>
    {{ if .Get "title" }}<h4>{{ .Get "title" }}</h4>{{ end }}
    {{ if or (.Get "caption") (.Get "attr")}}<p>
    {{ .Get "caption" }}
    {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
        {{ .Get "attr" }}
    {{ if .Get "attrlink" }}</a> {{ end }}
    </p> {{ end }}
  </figcaption>
  {{ end }}
</figure>
