{{ $src := .Get "src" | .Page.Resources.GetMatch }}
{{ $image := div $src.Width 2 | printf "%dx" | $src.Resize }}
{{ $imageLazy := $src.Resize "34x" }}
{{ $image2x := $src }}
{{ $image340 := $src.Resize "340x" }}
{{ $image680 := $src.Resize "680x" }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
  {{ if .Get "link" }}<a href="{{ . }}">{{ end }}
    <img
      loading="lazy"
      src="{{ $image2x.RelPermalink }}"
      srcset="
        {{ $image340.RelPermalink }} 340w,
        {{ $image680.RelPermalink }} 680w,
        {{ $image.RelPermalink }} 1x,
        {{ $image2x.RelPermalink }} 2x
      "
      height="{{ $image2x.Height }}"
      width="{{ $image2x.Width }}"
      sizes="
        (max-width: 340px) 340w,
        (max-width: 680px) 680w,
        100%
      "
      {{ if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" }}{{ end }}"
      {{ end }}
    >
  {{ if .Get "link" }}</a>{{ end }}
  {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
  <figcaption>
    {{ if .Get "title" }}<h4>{{ .Get "title" }}</h4>{{ end }}
    {{ if or (.Get "caption") (.Get "attr")}}<p>
    {{ .Get "caption" }}
    {{ with .Get "attrlink" }}<a href="{{ . }}"> {{ end }}
        {{ .Get "attr" }}
    {{ if .Get "attrlink" }}</a> {{ end }}
    </p> {{ end }}
  </figcaption>
  {{ end }}
</figure>
